* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f172a 0%);
    color: white;
    min-height: 100vh;
}

.hero {
    position: relative;                  
    padding: 10rem 8% 8rem;                
    max-width: 700px;
    min-height: 60vh;     
    z-index: 10;                
}

.hero-content {
    max-width: 50%;                                              
}

.hero h1 {
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

.hero h1 span {
    color: #5ac5f2;
    display: block;
}

.hero p {
    font-size: 1.35rem;
    line-height: 1.7;
    margin-bottom: 3rem;
    opacity: 0.9;
    max-width: 650px;
}


.logo_spiraal {
    position: absolute;
    right: 5%;                            
    max-width: 600px;                       
    padding-top: 5em;
}

.logo_spiraal img {
    width: 100%;
    filter: drop-shadow(0 0 70px rgba(90, 197, 242, 0.8)); 
    z-index: -1;
}

/* Knop */
.btn {
    display: inline-block;
    background-color: #5ac5f2;
    color: #111111;
    padding: 1rem 2.8rem;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #3aa8d8;
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(90, 197, 242, 0.5);
}

.main_body {
    display: flex;
}

/* Responsive */
@media (max-width: 1100px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 8rem 5% 2rem;
    }
    
    .hero-content {
        max-width: 100%;
        margin-bottom: 4rem;
    }
    
    .logo_spiraal {
        position: relative;
        top: auto;
        right: auto;
        transform: none;
        width: 70%;
        margin: 0 auto;
        opacity: 0.9;
    }
}

@media (max-width: 994px) {
    .main_body {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    
    .hero h1 {
        font-size: 3.5rem;
    }

     .logo_spiraal {
        padding-top: 0em;
     }
}