.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a8a;
    color: white;
    padding: 1rem 1.5rem;
}

.header-section h1 {
    margin: 0;
}

.btn-new-task {
    background: white;
    color: #1e3a8a;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    width: 16%;
    margin: 0;
}

.overlay-new-task,
#edit-task-overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}

.btn-new-task .plus {
    font-size: 1.4rem;
    font-weight: bold;
}

.status-dropdown {
    border: solid;
    border-radius: 8px;
    background: #ffffff;
    padding: 14px 18px;
    font-size: 16px;
}

/* Responsive */
@media (max-width: 1024px) {

    .btn-new-task {
        width: auto;
        padding: 0.6rem 1rem;
    }
}

@media (max-width: 768px) {

    .header-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .btn-new-task {
        width: 100%;
        text-align: center;
    }

}

@media (max-width: 400px) {

    .header-section {
        padding: 0.8rem;
    }

    .header-section h1 {
        font-size: 1.2rem;
    }

    .btn-new-task {
        font-size: 0.9rem;
    }

}