* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.footer {
  background-color: #0d2a52;
  color: #ffffff;
  padding: 60px 80px;
  display: grid;    
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.footer h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer p,
.footer a {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.socials {
  font-size: 25px;
  display: flex;
  gap: 25px;
  margin: 12px 0;
}

.credit {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 16px;
}


@media (min-width: 796px) {
  .footer {
    padding: 40px 40px;
    grid-template-columns: 1fr;
  }

  .footer h3 {
    font-size: 22px;
  }

  .footer p,
  .footer a {
    font-size: 15px;
  }
}

