* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.overlay-login {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-register {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;

}

.fade-overlay {
    z-index: 40;
    background: rgb(191, 198, 204, 0.85);
}


.login-register-modal {
    width: 420px;
    padding: 40px 35px;
    border-radius: 24px;
    background: linear-gradient(135deg, #4fd6dd, #0a4db3);
    color: white;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: -14px;
    right: -14px;
    width: 45px;
    height: 45px;
    background: #4b4b4b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.close-btn a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 14px 18px;
    border-radius: 999px;
    border: none;
    outline: none;
    background: #c3d1df;
    margin-bottom: 24px;
    font-size: 16px;
}

button {
    width: 60%;
    margin: 10px auto 25px;
    display: block;
    padding: 14px;
    border-radius: 999px;
    border: none;
    background: #c3d1df;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.register {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.register a {
    color: #001a8f;
    font-weight: 700;
    text-decoration: underline;
}

#loginFormLink,
#registerFormLink {
    cursor: pointer;
}